<ol>
  <ul style="margin: 20px" *ngFor="let i of Arr">
    <li ><label style="font-size: 15px; font-weight: bold">Id info:  </label>{{i.id}}</li>
    <li style="list-style: none"><label style="font-size: 15px; font-weight: bold">Name info:  </label>{{i.name}}</li>
    <li style="list-style: none"><label style="font-size: 15px; font-weight: bold">Gender info:  </label>{{i.gender}}</li>
    <li style="list-style: none"><label style="font-size: 15px; font-weight: bold">FavoriteFruit info:  </label>{{i.favoriteFruit}}</li>
  </ul>
</ol>
