
<table>
    <tbody>
        <tr *ngFor="let t of tabels">
            <td style="height: 35px; width: 35px">{{t[0].value}}</td>
            <td style="height: 35px; width: 35px">{{t[1].value}}</td>
            <td style="height: 35px; width: 35px">{{t[2].value}}</td>
            <td style="height: 35px; width: 35px">{{t[3].value}}</td>
            <td style="height: 35px; width: 35px">{{t[4].value}}</td>
            <td style="height: 35px; width: 35px">{{t[5].value}}</td>
            <td style="height: 35px; width: 35px">{{t[6].value}}</td>
            <td style="height: 35px; width: 35px">{{t[7].value}}</td>
            <td style="height: 35px; width: 35px">{{t[8].value}}</td>
            <td style="height: 35px; width: 35px">{{t[9].value}}</td>
        </tr>
    </tbody>
</table>